*{
  font-family: 'Crimson Text', Georgia, Times, serif;
	font-size: 22px;
	line-height: 25px;
}

body{
  background: #8000804a;
}

h1, h2, nav{
  text-align: center;
}

h1 {
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 55px;
}

h2{
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-size: 35px;
	line-height: 45px;
}

h3{
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 25px;
}

h4{
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 20px;
}

nav{
  background: purple;
  padding: 15px;
}

nav a{
  color: white;
  font-size: 26px;
  margin-right: 25px;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.img-article{
  width: 250px;
  height: 200px;
  border: 3px solid white;
}

.div-article{
  padding: 15px;
  width: 500px;
  height: 400px;
  display: inline-block;
  border: 5px solid #800080;
  margin: 5px;
  transition-duration: 250ms;
}

.div-article:hover{
  cursor: pointer;
  border: 8px solid #ff0fff;
  width: 510px;
  height: 410px;
  color: #800080;
}

.container-articles{
  text-align: center;
  padding: 15px;
}
